<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deck</title>
</head>
<body>
<p>Welcome, {{ username }}</p>
<a href="{% url 'logout' %}">Logout</a>
{% if error_message %}
    <p>{{ error_message }}</p>
{% else %}

    {{ data|safe }}

{% endif %}
<form method="post" action="{% url 'card_create' pk %}">
    {% csrf_token %}
    <label for="front">Front:</label>
    <input type="text" name="front" id="front"/>
    <label for="back">Back:</label>
    <input type="text" name="back" id="back"/>
    <input type="submit" value="Create"/>
</form>
<a href="{% url 'review' pk %}">Review</a>
</body>
</html>