{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'deck.css' %}"/>
</head>
<body>
<div class="header">
    <div class="home">
        <a href="{% url 'index' %}">Home</a>
    </div>
    <div class="end">
        <span>Welcome, {{ username }}</span>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>
<hr/>
{% if error_message %}
    <p>{{ error_message }}</p>
{% else %}

    {{ data|safe }}

{% endif %}
<form method="post" action="{% url 'deck_create' %}">
    <label for="deck_name">Deck name:</label>
    <input type="text" name="deck_name" id="deck_name"/>
    <input type="submit" value="Create"/>
</form>
</body>
{% csrf_token %}
</html>
<script type="text/javascript">
    var form = document.getElementsByTagName('form');
    var input = document.getElementsByName('csrfmiddlewaretoken')[0];
    var i;
    for (i = 0; i < form.length; ++i) {
        var node = document.createElement('input');
        node.name = input.name;
        node.value = input.value;
        node.type = 'hidden';
        form[i].appendChild(node);
    }
</script>