<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        table {
            margin: 20px;
        }

        table tbody td {
            border: 1px solid black;
            padding: 5px;
        }

        input {
            margin: 0 5px;
        }

        .header {
            width: 100%;
            height: 50px;
        }

        .end {
            float: right;
            width: auto;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="end">
        <span>Welcome, {{ username }}</span>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>
{% if error_message %}
    <p>{{ error_message }}</p>
{% else %}

    {{ data|safe }}

{% endif %}
<form method="post" action="{% url 'deck_create' %}">
    {% csrf_token %}
    <label for="deck_name">Deck name:</label>
    <input type="text" name="deck_name" id="deck_name"/>
    <input type="submit" value="Create"/>
</form>
</body>
</html>