{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <link rel="stylesheet" type="text/css" href="{% static 'review.css' %}"/>
</head>
<body>
<div class="header">
    <div class="home">
        <a href="{% url 'index' %}">Home</a>
    </div>
    <div class="end">
        <span>Welcome, {{ username }}</span>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>
<hr/>
<div id="main_content">
    <div id="data_list">
        fhjdkshfjksd
    </div>
    <div id="right">
        <div id="form-wrapper">
            <p id="display"></p>
            <div id="error">Your answer is wrong !!!</div>
            <div id="input_box"></div>

            <input type="button" id="check" value="Check">
        </div>
    </div>
</div>
<script type="text/javascript">
    function size_sum(i, n) {
        var dt = document.getElementById('data_list');
        var str = '';
        str += '<p>Current question: ' + i + '</p>';
        str += '<p>Total question: ' + n + '</p>';
        dt.innerHTML = str;
    }
    var displays = {{ displays|safe }};
    var words = {{ words|safe }};
    var i = 0, j;
    document.getElementById("display").innerHTML = displays[i];
    var html = "";
    for (j = 0; j < words[i].length; ++j) {
        var s = "input_" + j;
        html += '<input type="text" id="' + s + '" />'
    }
    document.getElementById("input_box").innerHTML = html;
    size_sum(i + 1, displays.length);
    document.getElementById("check").onclick = function () {
        var flag = true;
        {#        var r = document.createElement('div');#}
        {#            r.setAttribute('id','error');#}
        {#            r.innerHTML = 'Your answer is wrong !!!';#}
        for (j = 0; j < words[i].length; ++j) {
            var s = "input_" + j;
            var inputed = document.getElementById(s).value;
            if (inputed != words[i][j]) flag = false;
        }
        if (flag) {
            {#            alert('Good answer!');#}
            document.getElementById('error').style.display = 'none';
        } else {
            {#            alert('Wrong answer!');#}
            --i;
            document.getElementById('error').style.display = 'block';
        }

        ++i;
        if (i == displays.length) {
            alert('You have finished reviewing!');
            // Make a summarized page
            window.location.href = '{% url "index" %}'
        }
        else {
            document.getElementById("display").innerHTML = displays[i];
            var html = "";
            for (j = 0; j < words[i].length; ++j) {
                var s = "input_" + j;
                html += '<input type="text" id="' + s + '" />'
            }
            document.getElementById("input_box").innerHTML = html;
        }
        size_sum(i + 1, displays.length);
    }
</script>
</body>
</html>